In [1]:
#import statements
import pandas as pd 
import numpy as np 
import pickle
pd.set_option('display.max_columns', None)

In [2]:
#read in the pickled dataset from the processing script:
infile = open("../processing/housedat.pickle",'rb')
dat = pickle.load(infile)
infile.close()
#list(dat.columns)

We will now start processing the data necessary for modeling

In [3]:
dat.head()

,basements,category_code_description,census_tract,central_air,depth,exterior_condition,fireplaces,frontage,garage_spaces,geographic_ward,interior_condition,market_value,number_of_bathrooms,number_of_bedrooms,number_of_rooms,number_stories,sale_date,sale_price,topography,total_area,total_livable_area,type_heater,view_type,year_built,zip_code,lat,lng
0,full,Single Family,139.0,Y,94.0,1.0,NaN,16.0,NaN,29.0,1.0,263000.0,NaN,3.0,10.0,1.0,2021-08-06 00:00:00,263000.0,F,1542.0,1242.0,A,NaN,2019,19121.0,-75.174210,39.979126
1,None,Single Family,8.0,Y,0.0,3.0,0.0,0.0,0.0,8.0,3.0,309800.0,0.0,0.0,NaN,1.0,2021-07-16 00:00:00,272500.0,F,0.0,524.0,NaN,C,1900,19103.0,-75.170423,39.949254
2,NaN,Single Family,160.0,Y,50.0,1.0,NaN,NaN,NaN,31.0,1.0,660000.0,2.0,3.0,NaN,3.0,2021-07-06 00:00:00,655000.0,F,800.0,2499.0,A,I,2020,19125.0,-75.128893,39.978672
3,full,Single Family,216.0,Y,109.0,1.0,0.0,80.0,NaN,21.0,1.0,570400.0,2.0,3.0,6.0,2.0,2021-08-10 00:00:00,605950.0,F,8219.0,2716.0,A,I,2021,19128.0,-75.235043,40.045622
9,NaN,Multi Family,215.0,NaN,38.0,3.0,0.0,68.0,0.0,21.0,3.0,202600.0,0.0,0.0,NaN,2.0,2021-11-09 00:00:00,1.0,F,4712.0,2356.0,NaN,I,1940,19127.0,-75.229891,40.029924